{% extends 'cabinet/layout.html' %}

{% block content %}
<h1 class="display-4">Итоговая оценка</h1>
<button type="button" id="buttonAddRule" class="btn btn-success my-3 btn-lg" data-toggle="modal" data-target="#modalAddRule">Добавить правило</button>

<table style="font-size:1.4rem" class="table table-striped table-hover table-dark m-0"> 
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Правило</th>
            <th scope="col">Коэф. посещаемости</th>
            <th scope="col">Коэф. оценки</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody> 
        {% for rule in rules %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{rule.name}}</td>
            <td>{{rule.kofAttendance}}</td>
            <td>{{rule.kofMark}}</td>
            <td class="text-right">
                <i onclick="selectRule(this)" data-kof-attend="{{rule.kofAttendance}}" data-kof-mark="{{rule.kofMark}}" class="fas fa-check p-2 border border-primary rounded text-primary cross"></i>
                <i data-toggle="modal" data-target="#modalDeleteRule" class="fas fa-trash p-2 border border-danger rounded text-danger cross" data-id-rule="{{rule.id_rules}}"></i>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="5" scope="row">
                <div class="input-group mb-2">
                    <select class="custom-select bg-dark text-light" id="select_course">
                        <option value="" hidden>Курсы</option>
                        {% for course in courses %}
                        <option value="{{course.id_course}}">{{course.name}}</option>
                        {% endfor %}
                    </select>
                    <select class="custom-select bg-dark text-light" id="select_group">
                        <option value="" hidden>Группа</option>
                        {% for group in groups %}
                        <option value="{{group.name}}">{{group.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </th>
        </tr>
        <th colspan="5" scope="row">
            <button type="button" class="btn rounded-0 bg-dark btn-lg btn-block btn-outline-success m-0" id="showFinalMarks">
                Показать
            </button>
        </th>
    </tbody>
</table>

<hr>

<table style="font-size:1.2rem" class="table table-striped table-hover table-dark m-0"> 
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ФИО</th>
            <th scope="col">Оценки</th>
            <th scope="col">Вес</th>
            <th scope="col">Итог</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in finalStudents.items %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{value.lastname_stud}} {{value.firstname_stud}} {{value.middlename_stud}}</td>
            <td>
                {% for item in value.finalEstimation %}
                    {{item}} 
                {% endfor %}
            </td>
            <td>{{value.finalVes}}</td>
            <td>{{value.total}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    let globalKofAttend, globalKofMark

    const selectRule = (choice)=>{
        $(".fa-check").removeClass('activeFinalBtn')
        let choiceBtn = $(choice)
        globalKofAttend = choiceBtn.data('kofAttend')
        globalKofMark = choiceBtn.data('kofMark')

        choiceBtn.addClass('activeFinalBtn')
    }

    $('#showFinalMarks').click(()=>{
        let selectCourse = $('#select_course').val()
        let selectGroup = $('#select_group').val()
        
        location.replace(`/cabinet/finalMark/${selectCourse}&${selectGroup}&${globalKofMark}&${globalKofAttend}`)
    })
</script>

{% include 'cabinet/finalMark/addRuleModal.html' %}
{% include 'cabinet/finalMark/deleteRuleModal.html' %}

{% endblock %}