{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/adaptive__navbar.css' %}"/>
    <title>АРМ</title>
</head>

<body>
    {% block page %}
    {% endblock %}
</body>

<script src="{% static 'libs/jOpquery/jquery-3.4.1.min.js'}"></script>
<script src="{% static 'libs/particles/particles.js' %}"></script>
<script src="{% static 'libs/particles/app.js' %}"></script>
<!-- <script src="{% static 'libs/bootstrap/bootstrap.bundle.min/bootstrap.bundle.min.js' %}"></script> -->
<script src="{% static 'libs/bootstrap/bootstrap.bundle.min.js' %}"></script>

</html>