<!-- создание курса-->
<div class="modal fade" id="modalAddKurs" tabindex="-1" role="dialog" aria-labelledby="modalAddKurs" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Создание курса</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="modal-body">
            <form method="POST" id="form-addCourseModal">
                <div class="form-group">
                  <label>Навание дисциплины</label>
                  <input name="name_dis" required type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Группа</label>
                  <input name="group_name" required type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Университет</label>
                  <input name="university" required type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Год обучения</label>
                  <input name="year_education" type="text" required  pattern="[0-9]"   minlength="2" maxlength="4"  class="form-control">
                </div>
                <div class="modal-footer p-0 pt-2">
                  <button id="BtnAddCourse" type="button" class="btn btn-success">Добавить</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Отмена</button>

                </div>
            </form>        
        </div>
      </div>
    </div>
  </div>
<script>
  $('#BtnAddCourse').click(function () {
    let name_dis = $("input[name = 'name_dis']").val()
    let group_name = $("input[name = 'group_name']").val()
    let university = $("input[name = 'university']").val()
    let year_education = $("input[name = 'year_education']").val()
    $.ajax({
      url: '/cabinet/',
      type: 'POST',
      data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'typeAction': 'addCourse',
        'name_dis': name_dis,
        'group_name': group_name ,
        'university': university,
        'year_education': year_education
      },
      success: function (data) {
        location.reload()
      },
    });
    return false;
  });

</script>