<div class="modal fade" id="modalAddKurs" tabindex="-1" role="dialog" aria-labelledby="modalAddKurs" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Создание курса</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                <div class="form-group">
                  <label>Навание дисциплины</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Группа</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Университет</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Год обучения</label>
                  <input type="text" class="form-control">
                </div>
            </form>        
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Добавить</button>
          <button type="button" class="btn btn-primary">Отмена</button>
        </div>
      </div>
    </div>
  </div>