<!-- создание курса-->
<div class="modal fade" id="modalAddKurs" tabindex="-1" role="dialog" aria-labelledby="modalAddKurs" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Создание курса</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                <div class="form-group">
                  <label>Навание дисциплины</label>
                  <input name="name_dis" type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Группа</label>
                  <input name="group_name" type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Университет</label>
                  <input name="university" type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Год обучения</label>
                  <input name="year_education" type="text" class="form-control">
                </div>
                <div class="modal-footer p-0 pt-2">
                  <button type="submit" class="btn btn-success">Добавить</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Отмена</button>
                  {% csrf_token %}
                </div>
            </form>        
        </div>
      </div>
    </div>
  </div>
