<!-- модальное окно редактирования курса-->
<div class="modal fade" id="modalEditKurs" tabindex="-1" role="dialog" aria-labelledby="modalEditKurs" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Общее редактирование курса</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                <p>id курса: <span id="idCourse"></span></p>
                <div class="form-group">
                  <label>Навание дисциплины</label>
                  <input type="text" id="nameCourse" class="form-control">
                </div>

                <div class="form-group">
                  <label>Группа</label>
                  <input type="text" id="groupCourse" class="form-control">
                </div>

                <div class="form-group">
                  <label>Университет</label>
                  <input type="text" id="universityCourse" class="form-control">
                </div>

                <div class="form-group">
                  <label>Год обучения</label>
                  <input type="text" id="yearCourse" class="form-control">
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">Изменить</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Отмена</button>
                </div>
            </form>        
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#modalEditKurs').on('show.bs.modal', function (event) {
    
    let editBtn = $(event.relatedTarget)
    let modal = $(this)
    modal.find('#idCourse').text(editBtn.data('idCourse')).attr('name', editBtn.data('idCourse'));
    modal.find('#nameCourse').val(editBtn.data('nameCourse'))
    modal.find('#groupCourse').val(editBtn.data('groupCourse'))
    modal.find('#yearCourse').val(editBtn.data('yearCourse'))
    modal.find('#universityCourse').val(editBtn.data('universityCourse'))

  })
    </script>