{% extends 'base.html' %}

{% block page %}

<style>
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 48px 0 0; /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
</style>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 p-0 bg-dark sidebar">
            {% include 'cabinet/navbar.html' %}
        </nav>
        
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
            {% block content %}
            {% endblock %}
        </main>

    </div>
</div>

    
{% endblock %}