{% extends 'base.html' %}

{% block page %}

<style>
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 #0000001a;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <nav class="col-2 p-0 bg-dark sidebar">
            {% include 'cabinet/navbar.html' %}
        </nav>
        
        <main role="main" class="col-10 ml-sm-auto px-4">
            {% block content %}
            {% endblock %}
        </main>

    </div>
</div>

    
{% endblock %}