    <p class="text-light p-2 text-center">Курганская Ольга Викторовна</p>
    <ul class="nav nav-pills nav-fill flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-home"></i>Личный кабинет</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Курсы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Расписание</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Студенты</a>
      </li>
    </ul>
