    <h5 class="p-2 text-center text-light">Курганская Ольга Викторовна</h5>
    
      <ul class="nav nav-pills nav-fill flex-column">
        <li class="nav-item text-left p-0">
          <a class="nav-link text-light curses" href="/cabinet"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Курсы</a>
        </li>
        <li class="nav-item text-left p-0">
          <a class="nav-link text-light schedule" href="/cabinet/schedule"><i class="fa fa-list-alt" aria-hidden="true"></i> Расписание</a>
        </li> 
        <li class="nav-item text-left p-0">
          <a class="nav-link text-light" href="#"><i class="fa fa-users" aria-hidden="true"></i> Студенты</a>
        </li>
      </ul>

      <ul class="nav nav-pills nav-fill">
        <li class="nav-item text-left
         p-0">
          <a class="nav-link text-light" href="#"><i class="fas fa-sign-out-alt"></i> Выйти</a>
        </li>
      </ul>

<script>
  const activeURL = window.location.pathname
  switch (activeURL) {
    case '/cabinet/':
      $('.curses').addClass('active')
      break;
    case '/cabinet/schedule/':
      $('.schedule').addClass('active')
      break;
  }
</script>

