
/*ScrollBar*/
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #343A40;
}

.particles-js-canvas-el{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}


.schedule-card{
  min-height: 250px;
}
.cross {cursor: pointer;}

#studentsTable td{
  min-width: 160px;
  max-width: 160px;

}
#lecTag{
  background: #5181B8;
  font-size: 0.8rem;
}
#labTag{
  background: #57B8B5;
  font-size: 0.8rem;
}
#semTag{
  background: #B86993;
  font-size: 0.8rem;
}
#exmTag{
  background: #B84B41;
  font-size: 0.8rem;
}

.activeFinalBtn{
  color: #28a745 !important;
  border-color: #28a745 !important;
}