{% extends 'base.html' %}

{% block page %}
    <nav class="navbar navbar-dark bg-dark">
        <h4 class="navbar-brand">ARM организации занятий</h4>
    </nav>

    <!--  {{title}}
	<h1 class="display-4">Страница авторизации</h1> -->
	

    <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal">
                        <span class="heading">Вход</span>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="inputEmail">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group help">
                            <label for="exampleInputPassword1">Пароль</label>
                            <input type="password" class="form-control" id="inputPassword" >
                            <i class="fa fa-lock"></i>
                            <label for="">Забыли пароль?</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <form action="" method="post"></form>
{% endblock %}